@charset "UTF-8";
/* 
START OF STYLESHEET (Written by Beckyliu.com)
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,500,700");
html, body {
  font-family: "Source Sans Pro", Helvetica, Verdana, sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #1f201a;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  letter-spacing: 0px;
}

a, a:active, a:link, a:visited {
  color: #1f201a;
  font-family: "Source Sans Pro", Helvetica, Verdana, sans-serif;
  font-size: 20px;
  border-bottom: 3px solid #BA0707;
  text-decoration: none;
  letter-spacing: 0px;
}
a:hover, a:active:hover, a:link:hover, a:visited:hover {
  transition: all 0.4s linear;
  border-color: #ffffff;
}

.wrapper {
  width: 80%;
  overflow: hidden;
  margin: auto;
}

h1 {
  font-family: "Source Sans Pro", Helvetica, Verdana, sans-serif;
}

h2 {
  font-weight: 500;
  font-size: 24px;
}

h5 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

header {
  background-color: #1f201a;
  color: #ffffff;
  padding: 2%;
  margin: 0;
  min-height: 8%;
  font-size: 24px;
}
header #logo {
  float: left;
}
header #logo h1 {
  margin: 0;
}
header nav {
  margin: auto;
  position: relative;
  width: 100%;
  height: 50px;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav li {
  float: right;
  display: inline;
  padding: 2%;
  text-align: center;
}
header nav a, header nav a:active, header nav a:link, header nav a:visited {
  border: none;
  display: block;
  margin-right: 1%;
  padding: 4px;
  width: 130px;
  font-size: 16px;
  letter-spacing: 10px;
  font-weight: 200;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
header nav a:hover, header nav a:active:hover, header nav a:link:hover, header nav a:visited:hover {
  color: #BA0707;
}

section {
  text-align: center;
  width: 100%;
}

#headerImage {
  background: #1f201a url("images/header.jpg") no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#headerImage #logo {
  padding: 3%;
}
#headerImage .sichuan {
  width: 50%;
  float: left;
  min-height: 80%;
}
#headerImage .content {
  min-width: 320px;
}
#headerImage .content .phone, #headerImage .content i {
  margin-left: 2%;
  color: #ffffff;
  font-size: 28px;
}
#headerImage .rightContent {
  float: left;
  color: #ffffff;
  text-align: center;
  width: 40%;
  padding: 4%;
}

.button {
  background: #BA0707;
  width: 200px;
  padding: 14px 3px 14px 3px;
  margin: 4% auto 2% auto;
  border-radius: 10px;
  transition: all 0.4s linear;
}
.button a, .button a:active, .button a:link, .button a:visited {
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 300;
  display: block;
  text-transform: uppercase;
  border: none;
}
.button span {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: -9px;
  right: -10px;
  transition: 0.5s;
  font-size: 30px;
}
.button:hover {
  background-color: #620404;
  color: #ffffff;
  font-weight: 500;
  transition: all 0.4s linear;
  text-transform: uppercase;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

#address {
  margin: auto;
  padding: 0.5% 0 0.5% 0;
  background-color: #BA0707;
  color: #ffffff;
}

#introduction {
  text-align: center;
  position: relative;
  color: #1f201a;
}
#introduction .introCopy {
  text-align: center;
  width: 90%;
  margin: 0 auto 5% auto;
  font-weight: 500;
}
#introduction img {
  padding-top: 10%;
}
#introduction .icon1, #introduction .icon2, #introduction .icon3 {
  min-width: 106.6666666667px;
  display: inline-block;
  width: 220px;
  height: 220px;
  margin: 10px;
  border-radius: 50%;
  background: #F4F4F4;
}

#tilesImage {
  margin: 5% auto 5% auto;
  text-align: center;
  position: relative;
  color: #1f201a;
}
#tilesImage .option1, #tilesImage .option2, #tilesImage .option3 {
  min-width: 320px;
  display: inline-block;
  width: 20.6666666667%;
  text-align: left;
  height: 100%;
  padding: 5px;
}

#bookingCopy {
  background-color: #F4F4F4;
  width: 100%;
  padding: 5% 0 5% 0;
  font-weight: 500;
}

.map {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}
.map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#emailForm {
  height: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #1f201a url("images/footer.jpg") no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
}
#emailForm .wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#emailForm input, #emailForm textarea {
  font-family: "Source Sans Pro", Helvetica, Verdana, sans-serif;
  font-size: 20px;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  width: 50%;
  margin-top: 1%;
  border: 3px solid #ffffff;
  background: none;
}
#emailForm textarea {
  height: 30%;
}

footer {
  text-align: center;
  background-color: #1f201a;
  color: #ffffff;
  font-size: 20px;
  border: none;
  padding: 2% 0 2% 0;
  letter-spacing: 1px;
  margin-bottom: 0;
}
footer a, footer a:active, footer a:link, footer a:visited {
  font-size: 20px;
  border: none;
  font-weight: 500;
  color: #BA0707;
}

@media (min-width: 481px) and (max-width: 767px) {
  #tilesImage .option1 {
    display: inline-block;
    width: 80%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .sichuan {
    display: none;
  }

  #headerImage {
    background-image: none;
    background-color: #1f201a;
    margin: auto;
  }
  #headerImage .rightContent {
    width: 100%;
    text-align: center;
    padding: 0%;
  }
}
/* 
END OFF STYLESHEET (Written by Beckyliu.com)
*/

/*# sourceMappingURL=style.css.map */
