/* 
START OF SASSY STYLESHEET  by Beckyliu.com
*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,500,700');


$main-font:"Source Sans Pro", Helvetica, Verdana, sans-serif;
$fixed-font-size: 20px;

$light: 200;
$normal: 300;
$semibold: 500;
$bold: 600;

$grey-background:#F4F4F4;

$main-colour-dark:#1f201a;
$main-colour-light:#ffffff;
$link-colour: #BA0707;
$button-hover-bg: #620404;
$fabric-background: url('images/fabric-bg.jpg');

$a-tags: 'a, a:active, a:link, a:visited';

$button-border: 3px solid $link-colour;
$thick-border: 7px solid $main-colour-dark;

$wrapper-width: 80%;


$min-mobile-width: 320px;
$max-mobile-width: 480px;

$min-ipad-portrait:768px; 
$max-ipad-width: 1024px;

$max-desktop-width: 1280px;



// SEPARATE MIXIN FILE WHEN READY 

@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}

@mixin background-size($style) {
    -webkit-background-size: $style;
       -moz-background-size: $style;
        -ms-background-size: $style;
        -o-background-size: $style;
  }

  @mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  

// START CSS HERE

html, body {
    font-family: $main-font;
    font-weight: $normal;
    font-size: $fixed-font-size;
    color:$main-colour-dark;
    background-color: $main-colour-light;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    letter-spacing: 0px;
    scroll-behavior: smooth
}

.smooth-container {
  scroll-behavior: smooth
}

#{$a-tags} {
  color: $main-colour-dark;
  font-family: $main-font;
  font-size: $fixed-font-size;
  border-bottom:3px solid $link-colour;
  text-decoration: none;
  letter-spacing: 0px;

&:hover {

  transition: all 0.4s linear;
  border-color: $main-colour-light;
  }
}


.wrapper{
    width:$wrapper-width;
    overflow: hidden;
    margin: auto;
}


h1 {
  font-weight:$normal;
  font-size: $fixed-font-size * 1.4;

}

h2 {
  font-weight: $semibold;
  font-size: $fixed-font-size * 1.2;
}

h5 {
  font-size: $fixed-font-size * 1.2;
  font-weight: $semibold;
  letter-spacing: 1px;
}


header {
background-color: $main-colour-dark;
color:$main-colour-light;
padding:2%;
margin: 0;
min-height: 8%;
font-size: $fixed-font-size * 1.2;

#logo {
  float: left;
h1 {
  margin:0;
}
}


nav{
  margin:auto;
  position: relative;
  width:100%;
  height:50px;

ul{
  margin:0;
  padding:0;
}
 li{
  float: right;
  display: inline;
  padding: 2%;
  text-align: center;

}

#{$a-tags} {
border:none;
  display: block;
margin-right:1%;
  padding: 4px;
  width: 130px;
  font-size: $fixed-font-size * 0.8;
  letter-spacing: 10px;
  font-weight: $light;
  color: $main-colour-light;
  text-transform:uppercase;
  text-decoration: none;

  &:hover{
    color:$link-colour;
  }

}

}

}

section{
  text-align: center;
width: 100%;
}

#headerImage {
  background: $main-colour-dark url('images/header.jpg') no-repeat left center fixed;
  @include background-size(cover);
  width:100%;
  padding: 0;
  margin:0;
  overflow: hidden;
  

  #logo {
    padding:3%;
  }

  .sichuan {
    width:50%;
    float:left;
    min-height: 80%;

  }
  .content{
min-width: $min-mobile-width;

.phone, i{
  margin-left: 2%;
  color: $main-colour-light;
  font-size: $fixed-font-size * 1.4;
}
  }

  .rightContent{
    float:left;
    color:$main-colour-light;
    text-align: center;
    width:40%;
    padding:4%;
  }
}

// CTA

.button, button[type=submit]  {
  background:$link-colour;
  width:200px;
  padding:14px 3px 14px 3px;
  margin: 4% auto 2% auto;
  border-radius: 10px;
  transition: all 0.4s linear;
  border: none;
  font-size: $fixed-font-size;
  text-transform: uppercase;
  color: $main-colour-light;
  font-weight: $normal;

  #{$a-tags}{
    color: $main-colour-light;
    letter-spacing: 1px;
    display:block;
    border:none;
  }

  span{
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    

    &:after {
      content: '\00BB';
      position: absolute;
      opacity: 0;
      top: -9px;
      right: -10px;
      transition: 0.5s;
      font-size: $fixed-font-size * 1.5;
    }
  }


&:hover{
  background-color: $button-hover-bg;
color:$main-colour-light;
  transition: all 0.4s linear;
    text-transform: uppercase;
  span {
    padding-right: 25px;
   &:after {
      opacity: 1;
      right: 0;
    }
  }
}

}

// CONTENT STARTS HERE

#address {
margin:auto;
padding:0.5% 0 0.5% 0;
background-color: $link-colour;
color: $main-colour-light;
}

#introduction {
  text-align: center;
  position: relative;
  color: $main-colour-dark;

.introCopy{
text-align: center;
width:90%;
margin:0 auto 5% auto;
font-weight: $semibold;
  }

img {
  padding-top:10%;
}

.icon1, .icon2, .icon3 {
min-width: $min-mobile-width / 3;
display:inline-block;
width: 220px;
height:220px;
margin:10px;

}



}

#tilesImage{
  margin:5% auto 5% auto;
  text-align: center;
  position: relative;
  color: $main-colour-dark;
  

  .option1, .option2, .option3 {
      min-width: $min-mobile-width;
      display:inline-block;
    width: ($wrapper-width / 3) - 6;
    text-align: left;
    padding:5px;
  
    }

}


#bookingCopy {
background-color: $grey-background;
width:100%;
padding:5% 0 5% 0;
font-weight: $semibold;
}


  .map {
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;

    iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
    }
  }


// EMAIL FORM 

#emailForm{

  height:100%;
  background: $main-colour-dark url('images/footer.jpg') no-repeat left bottom fixed;
  @include background-size(cover);

  .wrapper {

  position: relative;
  top: 50%;
  transform: translateY(-50%);
  }

  input, textarea, input[type=name] , input[type=email]  {
    font-family: $main-font;
    font-size:$fixed-font-size;
    color: $main-colour-light !important;
  padding:10px 20px 10px 20px;
    width: 50%;
    margin-top:1%;
    border: 3px solid $main-colour-light;
  background:none;
  }

  textarea{
    height:30%;
  }



.backToTop{

  color: $main-colour-light;

  #{$a-tags}  {
color: $main-colour-light;
    letter-spacing:3px;
  }
  
  
}


}

footer {
  text-align:center;
  background-color:$main-colour-dark;
  color:$main-colour-light;
font-size: $fixed-font-size;
border:none;
padding:2% 0 2% 0;
letter-spacing: 1px;
margin-bottom:0; 

#{$a-tags} {
  font-size: $fixed-font-size;
  border: none;
  font-weight: $semibold;
  color: $link-colour;
}  
}

//  DESKTOP (1281px to Higher Reso)

@media (min-width: $max-desktop-width + 1) {
  
    //CSS
    
  }
  
// LAPTOPS/DESKTOPS (1025px to 1280px)

  
  @media (min-width: $max-ipad-width + 1) and (max-width: $max-desktop-width) {
    
    //CSS,
    
  }
  
// TABLETS/IPAD PORATRAIT (768px to 1024px)

  
  @media (min-width: $min-ipad-portrait) and (max-width: $max-ipad-width) {
    
 
    #tilesImage{

      .option1 , .option2, option3 {
      display:inline-block;
    width: $wrapper-width;
    }

  }
    
  }
  
// TABLETS/IPADS LANDSCAPE (768px to 1024px)

  
  @media (min-width: $min-ipad-portrait) and (max-width: $max-ipad-width) and (orientation: landscape) {
    
  }
  
// LOW RES TABLET/MOBILE LANDSCAPE (481px to 767px)
  
  @media (min-width: $max-mobile-width + 1) and (max-width: $min-ipad-portrait - 1) {
    

  .rightContent{
    @include alpha-background-color(rgba($main-colour-dark, 0.9), black);

  }

  #introduction {

.icon1, .icon2, .icon3 {
  min-width: 450px;
  display:block;
  width: $wrapper-width;
  height:$wrapper-width;
  margin:10px;
  
  }
}


  }
  
// PORTRAIT MOST SMART PHONES (320px to 479px)

  
  @media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
    
    nav{
  position: fixed;
  background-color: $main-colour-dark;
ul{
  height:200px;

 li{
   float: left;
  padding: 2%;
  text-align: center;

  a:link{

  width:100%;
    letter-spacing:5px;
  }
}}
    }

#headerImage {
  

  .rightContent{
    @include alpha-background-color(rgba($main-colour-dark, 0.9), black);
width: 100%;
padding:20px 0 20px 0;
margin:auto;
  }

  .sichuan{
    display: none;
  }

}

    #tilesImage .option1 {
      display:inline-block;
    width: $wrapper-width;
    }
    
    #emailForm{
      input, textarea, input[type=name] , input[type=email], button[type=submit] {
       
      width: 280px;
      margin-bottom: 10px;
            }
            
    }
   
    
  }

/* 
END OF SASSY STYLESHEET by Beckyliu.com
*/